.works {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  margin-top: 20px;
  padding: 0;
  width: 100%;
  height: auto;
  opacity: 0;
  transform: translateY(50px); 
  animation: fadeInUp 0.8s ease-out forwards;
  animation-delay: 0.4s;
  justify-content: space-between;
}

.work {
  position: relative;
  width: 40%;
  list-style: none;
  border: 1px solid black;
  border-radius: 4px;
  padding: 5px 20px;
  backdrop-filter: blur(8px);
  -webkit-backdrop-filter: blur(8px);
  background:rgba(255, 255, 255, 0.37);
  box-sizing: content-box;
  margin-bottom: 20px;
}

.work:hover {
  border-color:aquamarine;
}


.work a {
  text-decoration: none;
  color: black;
}

.work h4 {
  font-weight: 800;
  font-size: 1.2em;
}

.work p {
  font-weight: 500;
}

.work img {
  width: 100%;
  height: 250px;
  transition: transform .3s ease-out;
}

.work:hover .work-pic {
  transform: scale(1.05);
}

@media (max-width: 540px) {
  .work {
      width: 100%;
  }
}